{% extends 'base.html' %}
{% load static %}

{% block about-us %}

    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="{% url 'home' %}">Home</a>
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- About us -->
    <section class="section-wrap about-us pb-60">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <img src="img/about_us.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h4 class="about-intro uppercase">about hairutility</h4>
            <p>HairUtility is a mobile app and website designed to help you receive better haircuts. Both the stylists and clients can utilitze it. You can find detailed information on all kinds of haircuts and store them onto your phone. The detailed information will help the communication gap. Have you ever wanted a specific haircut, but you didn't know how to describe it? Check here. We're dedicated to putting quality over quantity. We listen to all of your feedback for the implementation of new features. </p>
          </div>
          <div class="col-sm-3 col-sm-offset-1">
            {% comment %} <div class="statistic">
              <span>2016</span>
              <h4 class="uppercase">year of foundation</h4>
            </div>             {% endcomment %}
            <div class="statistic">
              <span>5</span>
              <h4 class="uppercase">hair salons partner with us</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Divider -->
    <div class="container">
      <hr>
    </div>


    <!-- Our Team -->
    <section class="section-wrap our-team pb-50">
      <div class="container">

        <div class="row heading-row">
          <div class="col-md-12 text-center">
            <h2 class="heading uppercase">Our Team</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-xs-6 col-xxs-12 team-wrap mb-40 animated-from-left">
            <div class="team-member">
              <div class="team-img">
                <img src="img/team/team_1.jpg" alt="">
              </div>
              <h4 class="team-title uppercase">James Truong</h4>
              {% comment %} <span>Founder</span> {% endcomment %}
              <div class="team-details">
                <p>I've always had trouble getting the right haircuts, so I built the app and website in order help me get better ones. I enjoy building  oducts that improve the quality of life of others. I hope to show that I care about my customers' feedback with every product I build. </p>
                <div class="social-icons rounded">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-envelope"></i></a>
                </div>
              </div>         
            </div>
          </div> <!-- end team member -->

        

        </div>
      </div>
    </section> <!-- end our team -->
    
    <!-- Divider -->
    <div class="container">
      <hr>
    </div>

    <!-- Testimonials -->
    {% comment %} <section class="section-wrap testimonials">
      <div class="container">

        <div class="row heading-row mb-60">
          <div class="col-md-12 text-center">
            <h2 class="heading uppercase">Happy Clients</h2>
          </div>
        </div>

        <div id="owl-testimonials" class="owl-carousel owl-theme owl-dark-dots text-center">

          <div class="item">
            <div class="testimonial">
              <p class="testimonial-text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented!</p>
              <span class="uppercase">Sara Simpson / Google</span>
            </div>
          </div>

          <div class="item">
            <div class="testimonial">
              <p class="testimonial-text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented! I will work only with enigma agency.</p>
              <span class="uppercase">John C. Marshall / Apple</span>
            </div>
          </div>

          <div class="item">
            <div class="container testimonial">
              <p class="testimonial-text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented! I will work only with enigma agency.</p>
              <span class="uppercase">Clint Eastwood / Amazon</span>
            </div>
          </div>

        </div>
      </div>
    </section> <!-- end testimonials --> {% endcomment %}

    <!-- Divider -->
    <div class="container">
      <hr>
    </div>

    <!-- Partners -->
    <section class="section-wrap partners pt-50 pb-50">
      <div class="container">
        <div class="row">

          <div id="owl-partners" class="owl-carousel owl-theme">

            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_1.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_2.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_3.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_4.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_5.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_6.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_1.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_2.png" alt="">
              </a>
            </div>

          </div> <!-- end carousel -->
          
        </div>
      </div>
    </section> <!-- end partners -->    

{% endblock %}
