{% extends 'base.html' %}
{% load static %}
{% block hair-profiles %}

    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="{% url 'home'%}">Home</a>
        </li>
        <li>
          <a href="">
          <a href="">Hair Profiles</a>
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

                                <div class="row">

                        </div> 

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">

          <div class="col-md-9 catalogue-col right mb-50">

            <div class="shop-filter">
              <p class="result-count">Showing: 1 of 1 result</p>

              <form class="ecommerce-ordering">
                <select>
                  <option value="default-sorting">Default Sorting</option>
                  <option value="price-low-to-high">Price: high to low</option>
                  <option value="price-high-to-low">Price: low to high</option>
                  <option value="by-popularity">By Popularity</option>
                  <option value="date">By Newness</option>
                  <option value="rating">By Rating</option>
                </select>
              </form>
            </div>

            <div class="shop-catalogue grid-view left">

              <div class="row row-10 items-grid">

{% if key_dict.items%}

  {% for key, id in key_dict.items %}

                <div class="col-md-3 col-xs-4">
                  <div class="product-item">
                    <div class="product-img">
                      <a href="{% url 'single-hair-profile' id%}"> 
                        <img src="{{ key }}" alt="">
                      </a>
                    </div>
          {% endfor %}

          {% for hair_profile in hair_profiles %}
                    <div class="product-details">
                      <span class="price">
                        <ins>
                          <span class="amount">{{ hair_profile.hairstyle_name }}</span>
                        </ins>
                      </span>
                    </div>
                  </div>
                </div>
          {% endfor %}

                            {% if forloop.counter|divisibleby:"4" and not forloop.last %}
                                        </div><div class="row">
                                   {% endif %}

{% endif %}
              </div> <!-- end row -->
            </div> <!-- end grid mode -->

            <div class="clear"></div>

            <!-- Pagination -->
            <div class="pagination-wrap">
              <p class="result-count">Showing: 1 of 1 result</p>              
              <nav class="pagination right clear">
                <a href="#"><i class="fa fa-angle-left"></i></a><span class="page-numbers current">
                1</span><a href="#">
                2</a><a href="#">
                3</a><a href="#">
                4</a><a href="#">
                <i class="fa fa-angle-right"></i></a>
              </nav>
            </div>

          </div> <!-- end col -->

          <!-- Sidebar -->
          <aside class="col-md-3 sidebar left-sidebar">

            <!-- Categories -->
            <div class="widget categories">
              <h3 class="widget-title uppercase">Gender</h3>
              <ul class="list-no-dividers">
                <li>
                  <a href="{% url 'hair-profiles'%}">Women</a>
                </li>
                <li>
                  <a href="{% url 'hair-profiles'%}">Men</a>
                </li>
              </ul>
            </div>

            <!-- Select size -->
            <div class="widget categories">
              <h3 class="widget-title uppercase">Length</h3>
              <ul class="list-no-dividers">
                <li>
                  <a href="{% url 'hair-profiles'%}">Short</a>
                </li>
                <li>
                  <a href="{% url 'hair-profiles'%}">Medium</a>
                </li>
                <li>
                  <a href="{% url 'hair-profiles'%}">Long</a>
                </li>
              </ul>
            </div>
            

            <!-- Tags -->
            <div class="widget tags clearfix">
              <h3 class="widget-title uppercase">Tags</h3>
              <a href="#">Perm</a>
              <a href="#">Blonde</a>
              <a href="#">Black</a>
              <a href="#">Celebrity</a>
              <a href="#">Red</a>
              <a href="#">Wavy</a>
              <a href="#">Curly</a>
              <a href="#">Asian</a>
              <a href="#">Wedding</a>
              <a href="#">Blonde</a>
            </div>

          </aside> <!-- end sidebar -->

        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end catalogue -->    

{% endblock %}