{% extends 'base.html' %}
{% load static %}
{% block index %}
    <!-- Hero Slider -->
    <section class="section-wrap pt-20">
      <div class="container">


{% comment %} <div class="col-sm-12 newsletter-box"> {% endcomment %}
<div class="col-sm-12">

<div class="col-sm-1"> </div>
               {% comment %} <div class="col-sm-7" style="border:1px solid #444444;" > {% endcomment %}
                <div class="col-sm-7">

<div class="row">

<p> 
<h1 class="heading" align="left">Find hair profiles and improve communication with your stylist.</h1>
</p>
</div>
<br>
<br>
{% comment %} <br>
<br>
<br>

<br>
<br> {% endcomment %}
 <div class="row">

<div class="input-group input-group-lg md-form">
  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    <span class="input-group-btn">
    <button class="btn btn-block" type="submit">
        <i class="fa fa-search"></i>
    </button>
  </span>
</div>
</div>

 <br>
<br>
<br>

<br>
<br>
<div class="row">
<p>
<h2 class="heading" align="left">Available for iOS Beta on March 18</h2>
</p>
</div> 


</div>
<div class="col-sm-3 pull-left">
{% comment %} <img src="{% static 'img/slider/hair-profile.png'%}" class="img-responsive" style="border:1px solid #444444;" alt=""> {% endcomment %}
<img src="{% static 'img/slider/hair-profile.png'%}" class="img-responsive" alt="">
</div>
</div>
<div class="col-sm-1"> </div>
 </div>

        


    
    </section> <!-- end hero slider -->



{% comment %} <!-- Search form -->
<div class="md-form mt-20"> 
<div class="input-group">
  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    <span class="input-group-btn">
    <button class="btn btn-default" type="submit">
        <i class="fa fa-search"></i>
    </button>
  </span>
</div>
</div> {% endcomment %}
    <!-- Trending -->
    <section class="section-wrap new-arrivals pb-40">
      <div class="container">

        <div class="row row-10">       

      {% if key_dict.items is not None and hair_profiles is not None %}       

        {% for key, value in key_dict.items %}
          <div class="col-md-3 col-xs-6">
            <div class="product-item">
              <div class="product-img">
                <a href="{% url 'single-hair-profile' value %}">
                  <img src="{{ key }}" alt="">
                  {% comment %} <img src="{% static 'img/shop/shop_item_1_back.jpg' %}" alt="" class="back-img"> {% endcomment %}
                </a>
              </div>
        {% endfor %}
        {% for hair_profile in hair_profiles %}
              <div class="product-details">
                <h3>
                  <a class="product-title" href="{% url 'single-hair-profile' hair_profile.thumbnail_key %}">{{ hair_profile.hairstyle_name }}</a>
                </h3>
              </div>

            
        {% endfor %}
            </div>
          </div>
    
        </div> <!-- end row -->
      </div>
      {% else %}
        None
      {% endif %}
    </section> <!-- end new arrivals -->

    <!-- Newsletter -->s
    {% comment %} <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="newsletter-box">
            <h5 class="uppercase">Subscribe to Receive Our Updates</h5>
            <form>
              <input type="email" class="newsletter-input" placeholder="Your email">
              <input type="submit" class="newsletter-submit btn btn-md btn-dark" value="subscribe">
            </form>
          </div>
        </div>
      </div>
    </div> {% endcomment %}

    {% comment %} <!-- Best Sellers -->
    <section class="section-wrap pb-0">
      <div class="container">

        <div class="row heading-row">
          <div class="col-md-12 text-center">
            <h2 class="heading uppercase"><small>Best Sellers</small></h2>
          </div>
        </div>

        <div class="row row-10">              

          <div class="col-md-3 col-xs-6 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/shop/shop_item_5.jpg" alt="">
                  <img src="img/shop/shop_item_5_back.jpg" alt="" class="back-img">
                </a>
                <div class="product-actions">
                  <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                  </a>
                  <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                    <i class="fa fa-heart"></i>
                  </a>                    
                </div>
                <a href="#" class="product-quickview">Quick View</a>
              </div>

              <div class="product-details">
                <h3>
                  <a class="product-title" href="shop-single-product.html">Hair Dryer</a>
                </h3>
                <span class="price">
                  <ins>
                    <span class="amount">$29.99</span>
                  </ins>
                </span>
              </div>                          
            </div>
          </div>

          <div class="col-md-3 col-xs-6 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/shop/shop_item_6.jpg" alt="">
                  <img src="img/shop/shop_item_6_back.jpg" alt="" class="back-img">
                </a>
                <div class="product-label">
                  <span class="sale">sale</span>
                </div>
                <div class="product-actions">
                  <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                  </a>
                  <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                    <i class="fa fa-heart"></i>
                  </a>                    
                </div>
                <a href="#" class="product-quickview">Quick View</a>
              </div>

              <div class="product-details">
                <h3>
                  <a class="product-title" href="shop-single-product.html">Comb</a>
                </h3>
                <span class="price">
                  <ins>
                    <span class="amount">$4.99</span>
                  </ins>
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-xs-6 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/shop/shop_item_7.jpg" alt="">
                  <img src="img/shop/shop_item_7_back.jpg" alt="" class="back-img">
                </a>
                <div class="product-actions">
                  <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                  </a>
                  <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                    <i class="fa fa-heart"></i>
                  </a>                    
                </div>
                <a href="#" class="product-quickview">Quick View</a>
              </div>

              <div class="product-details">
                <h3>
                  <a class="product-title" href="shop-single-product.html">Wahl Clipper</a>
                </h3>
                <span class="price">
                  <ins>
                    <span class="amount">$29.99</span>
                  </ins>
                </span>
              </div>              
            </div>
          </div>

          <div class="col-md-3 col-xs-6 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/shop/shop_item_8.jpg" alt="">
                  <img src="img/shop/shop_item_8_back.jpg" alt="" class="back-img">
                </a>
                <div class="product-label">
                  <span class="sale">sale</span>
                </div>
                <div class="product-actions">
                  <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                  </a>
                  <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                    <i class="fa fa-heart"></i>
                  </a>                    
                </div>
                <a href="#" class="product-quickview">Quick View</a>
              </div>

              <div class="product-details">
                <h3>
                  <a class="product-title" href="shop-single-product.html">Razor</a>
                </h3>
                <span class="price">
                  <del>
                    <span>$5.99</span>
                  </del>
                  <ins>
                    <span class="amount">$3.99</span>
                  </ins>
                </span>
              </div>                  

            </div>
          </div>            

        </div> <!-- end row -->
      </div>
    </section> <!-- end best sellers -->             {% endcomment %}

    <!-- Partners -->
    {% comment %} <section class="section-wrap partners pt-50 pb-50">
      <div class="container">
        <div class="row">

          <div id="owl-partners" class="owl-carousel owl-theme">

            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_1.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_2.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_3.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_4.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_5.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_6.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_1.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_2.png" alt="">
              </a>
            </div>

          </div> <!-- end carousel -->
          
        </div>
      </div>
    </section> <!-- end partners -->       {% endcomment %}

{% endblock %}