{% extends 'base.html' %}
{% load static %}
{% block index %}
    <!-- Hero Slider -->
    <section class="section-wrap nopadding">
      <div class="container">
        <div class="entry-slider">
          <div class="flexslider" id="flexslider-hero">
            <ul class="slides clearfix">
              <li>
                <img src="{% static 'img/slider/1.png' %}" alt="" style="width:1140px;height:536px;">
                {% comment %} <div class="img-holder img-1"></div> {% endcomment %}
                <div class="hero-holder text-center right-align">
                  <div class="hero-lines">
                    <h1 class="hero-heading white">Collection 2019</h1>
                    <h4 class="hero-subheading white uppercase">HOT AND FRESH TRENDS OF THIS YEAR</h4>
                  </div>
                  <a href="#" class="btn btn-lg btn-white"><span>Shop Now</span></a>
                </div>
              </li>
              <li>
                <img src="{% static 'img/slider/2.png' %}" alt="" style="width:1140px;height:536px;">
                {% comment %} <div class="img-holder img-2"></div> {% endcomment %}
                <div class="hero-holder text-center">
                  <div class="hero-lines">
                    <h1 class="hero-heading white large">Winter Sales</h1>
                  </div>
                  <a href="#" class="btn btn-lg btn-white"><span>Shop Now</span></a>
                </div>
              </li>
              <li>
                <img src="{% static 'img/slider/3.png' %}" alt="">
                {% comment %} <div class="img-holder img-3"></div> {% endcomment %}
                <div class="hero-holder left-align">
                  <div class="hero-lines">
                    <h1 class="hero-heading white">Autumn 2017</h1>
                    <p class="white">A-ha Theme is the Best E-Commerce solution</p>
                    <p class="white">Packed with tons of features and unique styles</p>
                  </div>
                  <a href="#" class="btn btn-lg btn-white"><span>Shop Now</span></a>
                </div>
              </li>
              <li>
                <img src="{% static 'img/slider/4.png' %}" alt="">
                {% comment %} <div class="img-holder img-4"></div> {% endcomment %}
                <div class="hero-holder text-center right-align">
                  <div class="hero-lines">
                    <h1 class="hero-heading white">Summer 2017</h1>
                    <p class="white">A-ha Theme is the Best E-Commerce solution</p>
                    <p class="white">Packed with tons of features and unique styles</p>
                  </div>
                  <a href="#" class="btn btn-lg btn-white"><span>Shop Now</span></a>
                </div>
              </li>
            </ul>
          </div>
        </div> <!-- end slider -->
      </div>
    </section> <!-- end hero slider -->

    <!-- New Arrivals -->
    <section class="section-wrap new-arrivals pb-40">
      <div class="container">

        <div class="row heading-row">
          <div class="col-md-12 text-center">
            <h2 class="heading uppercase"><small>TRENDING</small></h2>
          </div>
        </div>

        <div class="row row-10">              

          <div class="col-md-3 col-xs-6">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="{% static 'img/hairstyles/thumbnail_kasual.png' %}" alt="">
                  {% comment %} <img src="{% static 'img/shop/shop_item_1_back.jpg' %}" alt="" class="back-img"> {% endcomment %}
                </a>
                {% comment %} <div class="product-label">
                  <span class="sale">Perm</span>
                </div> {% endcomment %}
                <div class="product-actions">
                  <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                  </a>
                  <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                    <i class="fa fa-heart"></i>
                  </a>                    
                </div>
                <a href="#" class="product-quickview">Quick View</a>
              </div>
              <div class="product-details">
                <h3>
                  <a class="product-title" href="shop-single-product.html">Undercut</a>
                </h3>
                {% comment %} <span class="price">
                  <del>
                    <span>$388.00</span>
                  </del>
                  <ins>
                    <span class="ammount">$159.99</span>
                  </ins>
                </span> {% endcomment %}
              </div>
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="{% static 'img/hairstyles/wedding.png' %}" alt="">
                  {% comment %} <img src="img/shop/shop_item_2_back.jpg" alt="" class="back-img"> {% endcomment %}
                </a>
                <div class="product-actions">
                  <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                  </a>
                  <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                    <i class="fa fa-heart"></i>
                  </a>                    
                </div>
                <a href="#" class="product-quickview">Quick View</a>
              </div>
              <div class="product-details">
                <h3>
                  <a class="product-title" href="shop-single-product.html">Wedding</a>
                </h3>
                {% comment %} <span class="price">
                  <ins>
                    <span class="ammount">$219.00</span>
                  </ins>
                </span> {% endcomment %}
              </div>                          
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="{% static 'img/hairstyles/unsplash_aa.png' %}" alt="">
                  {% comment %} <img src="img/shop/shop_item_3_back.jpg" alt="" class="back-img"> {% endcomment %}
                </a>
                <div class="product-actions">
                  <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                    <i class="fa fa-heart"></i>
                  </a>                    
                </div>
                <a href="#" class="product-quickview">Quick View</a>
              </div>
              <div class="product-details">
                <h3>
                  <a class="product-title" href="shop-single-product.html">Curly</a>
                </h3>
                {% comment %} <span class="price">
                  <ins>
                    <span class="ammount">$99.00</span>
                  </ins>
                </span> {% endcomment %}
              </div>                        
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="{% static 'img/hairstyles/side_part.png' %}" alt="">
                  {% comment %} <img src="img/shop/shop_item_4_back.jpg" alt="" class="back-img"> {% endcomment %}
                </a>
                <div class="product-actions">
                  <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                  </a>
                  <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                    <i class="fa fa-heart"></i>
                  </a>                    
                </div>
                <a href="#" class="product-quickview">Quick View</a>
              </div>
              <div class="product-details">
                <h3>
                  <a class="product-title" href="shop-single-product.html">Side Part</a>
                </h3>
                {% comment %} <span class="price">
                  <ins>
                    <span class="ammount">$120.00</span>
                  </ins>
                </span> {% endcomment %}
              </div>                        
            </div>
          </div>            

        </div> <!-- end row -->
      </div>
    </section> <!-- end new arrivals -->

    <!-- Newsletter -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="newsletter-box">
            <h5 class="uppercase">Subscribe to Receive Our Updates</h5>
            <form>
              <input type="email" class="newsletter-input" placeholder="Your email">
              <input type="submit" class="newsletter-submit btn btn-md btn-dark" value="subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Best Sellers -->
    <section class="section-wrap pb-0">
      <div class="container">

        <div class="row heading-row">
          <div class="col-md-12 text-center">
            <h2 class="heading uppercase"><small>Best Sellers</small></h2>
          </div>
        </div>

        <div class="row row-10">              

          <div class="col-md-3 col-xs-6 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/shop/shop_item_5.jpg" alt="">
                  <img src="img/shop/shop_item_5_back.jpg" alt="" class="back-img">
                </a>
                <div class="product-actions">
                  <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                  </a>
                  <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                    <i class="fa fa-heart"></i>
                  </a>                    
                </div>
                <a href="#" class="product-quickview">Quick View</a>
              </div>

              <div class="product-details">
                <h3>
                  <a class="product-title" href="shop-single-product.html">Minty Dress</a>
                </h3>
                <span class="price">
                  <ins>
                    <span class="ammount">$399.00</span>
                  </ins>
                </span>
              </div>                          
            </div>
          </div>

          <div class="col-md-3 col-xs-6 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/shop/shop_item_6.jpg" alt="">
                  <img src="img/shop/shop_item_6_back.jpg" alt="" class="back-img">
                </a>
                <div class="product-label">
                  <span class="sale">sale</span>
                </div>
                <div class="product-actions">
                  <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                  </a>
                  <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                    <i class="fa fa-heart"></i>
                  </a>                    
                </div>
                <a href="#" class="product-quickview">Quick View</a>
              </div>

              <div class="product-details">
                <h3>
                  <a class="product-title" href="shop-single-product.html">Sexy White Dress</a>
                </h3>
                <span class="price">
                  <ins>
                    <span class="ammount">$119.00</span>
                  </ins>
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-xs-6 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/shop/shop_item_7.jpg" alt="">
                  <img src="img/shop/shop_item_7_back.jpg" alt="" class="back-img">
                </a>
                <div class="product-actions">
                  <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                  </a>
                  <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                    <i class="fa fa-heart"></i>
                  </a>                    
                </div>
                <a href="#" class="product-quickview">Quick View</a>
              </div>

              <div class="product-details">
                <h3>
                  <a class="product-title" href="shop-single-product.html">Elegant Pink Dress</a>
                </h3>
                <span class="price">
                  <ins>
                    <span class="ammount">$1379.00</span>
                  </ins>
                </span>
              </div>              
            </div>
          </div>

          <div class="col-md-3 col-xs-6 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/shop/shop_item_8.jpg" alt="">
                  <img src="img/shop/shop_item_8_back.jpg" alt="" class="back-img">
                </a>
                <div class="product-label">
                  <span class="sale">sale</span>
                </div>
                <div class="product-actions">
                  <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                  </a>
                  <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                    <i class="fa fa-heart"></i>
                  </a>                    
                </div>
                <a href="#" class="product-quickview">Quick View</a>
              </div>

              <div class="product-details">
                <h3>
                  <a class="product-title" href="shop-single-product.html">Gray California Dress</a>
                </h3>
                <span class="price">
                  <del>
                    <span>$30.00</span>
                  </del>
                  <ins>
                    <span class="ammount">$25.00</span>
                  </ins>
                </span>
              </div>                  

            </div>
          </div>            

        </div> <!-- end row -->
      </div>
    </section> <!-- end best sellers -->            

    <!-- Partners -->
    <section class="section-wrap partners pt-0 pb-50">
      <div class="container">
        <div class="row">

          <div id="owl-partners" class="owl-carousel owl-theme">

            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_1.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_2.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_3.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_4.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_5.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_6.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_1.png" alt="">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/partners/partner_logo_dark_2.png" alt="">
              </a>
            </div>

          </div> <!-- end carousel -->
          
        </div>
      </div>
    </section> <!-- end partners -->      

{% endblock %}