{% extends 'base.html' %}
{% load static %}
{% block privacy-policy %}


    <section class="section-wrap page-404">
      <div class="container">

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2>Privacy Policy</h2>
        
            <p class="mb-20">
This policy applies to all information collected or submitted on HairUtility website and our apps for iPhone and any other devices and platforms.
Information we collect
When creating an account, you will be asked to enter an optional email address and a password. Email addresses are only used for logging in, password resets and responding to emails that you initiate. Stylists will have permissions to upload images and information onto our webserver. We don’t send promotional emails.
We store information about the creation dates of hairstyle profiles uploaded by the hair stylist. No information, except for website, and app activity, is stored from non-hair stylists.
<br>
<h3>Technical basics</h3>
<br>
We don’t use notifications.
If you upload files to HairUtility, we store them until you delete them.
We use cookies on the site and similar tokens in the app to keep you logged in. Our server software may also store basic technical information, such as your IP address, in temporary memory or logs. 
Ads and analytics
HairUtility’s app collects aggregate, anonymous statistics, such as the percentage of users who use particular features, to improve the app.
<br>
<br>
<h3>Information usage</h3>
<br>
We use the information we collect to operate and improve our website, apps, and customer support.
We share only the information we provide to us. None of the information is sent to third-party entities. Stylists have the option to make the hairstyles they upload to be privately stored. Otherwise, when a stylist makes a public hairstyle, people who view the site will be able to see their information.
We may disclose your information in response to subpoenas, court orders, or other legal requirements; to exercise our legal rights or defend against legal claims; to investigate, prevent, or take action regarding illegal activities, suspected fraud or abuse, violations of our policies; or to protect our rights and property.
In the future, we may sell to, buy, merge with, or partner with other businesses. In such transactions, user information may be among the transferred assets.
<br>
<br>   
<h3>Security</h3>
<br>
We implement a variety of security measures to help keep your information secure. For instance, all communication with the app and website requires HTTPS with certificate pinning. Passwords are hashed, not stored, using industry-standard methods. We use PBKDF2 which is the default hashing algorithm used by Django.
Accessing, changing, or deleting your information
You may access or change your information   or delete your account from the iOS app.
Deleted information may be kept in backups for up to 90 days. Backups are only accessed if needed for disaster recovery.
<br>
<br>
<h3>Third-party links and content</h3>
<br>
HairUtility displays links and content from third-party sites. These have their own independent privacy policies, and we have no responsibility or liability for their content or activities.
<br>
<br>
<h3>California Online Privacy Protection Act Compliance</h3>
<br>
We comply with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.
<br>
<br>
<h3>Children’s Online Privacy Protection Act Compliance</h3>
<br>
We never collect or maintain information at our website from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.
Information for European Union Customers
By using HairUtility and providing your information, you authorize us to collect, use, and store your information outside of the European Union.
International Transfers of Information
Information may be processed, stored, and used outside of the country in which you are located. Data privacy laws vary across jurisdictions, and different laws may be applicable to your data depending on where it is processed, stored, or used.
<br>
<br>
<h3>Your Consent</h3>
<br>
By using our site or apps, you consent to our privacy policy.
<br>
Contacting Us
If you have questions regarding this privacy policy, you may email jtruong@hairutility.com Please note that account deletion should be done within the HairUtility app, not via email requests, for security reasons.
<br>
Changes to this policy
If we decide to change our privacy policy, we will post those changes on this page. Summary of changes so far:
•	May 25, 2019: First published.
</p>

          </div>
        </div>

      </div>
    </section> 


{% endblock %}