{% extends 'base.html' %}
{% load static %}
{% block wip %}

    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="{% url 'home'%}">Home</a>
        </li>
        <li>
          <a href="#">Pages</a>
        </li>
        <li class="active">
          W.I.P
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>


    <!-- 404 -->
    <section class="section-wrap page-404">
      <div class="container">

        <div class="row text-center">
          <div class="col-md-6 col-md-offset-3">
            <h1>WIP</h1>
            <h2 class="mb-50">This page will list all of the salons and their work in the future.</h2>
            <p class="mb-20">You can go back to <a href="{% url 'home' %}">Homepage</a> or use search</p>
            <form class="relative">
              <input type="search" placeholder="Search" class="mb-0">
              <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>

      </div>
    </section> <!-- end 404 -->

{% endblock %}